.field-container {
  display: flex;
  flex-direction: column;
}

.field-container>* {
  width: 100%;
}

.login-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
  margin: 10px 0 0 0;
}

.logo-wrapper {
  width: 100%;
}
.img_bg{
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),url("../../../assets/bg1.png");
    background-size: cover;
}
button.mat-flat-button.mat-primary {
  background-color: #000!important;
}
.mat-flat-button.mat-primary {
  color: #fff!important;
}
.mat-form-field-underline {
  background-color: #000!important;
}