<mat-grid-list cols="3" style="height: 100vh;" rowHeight="fit">
    <mat-grid-tile [colspan]="2" style="background-color: rgba(0,0,0,.87)">
        <img class="logo-wrapper" src="../../../assets/images/logo_white.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Login">
                <form [formGroup]="loginForm" (ngSubmit)="onLoginButtonClicked()">
                    <div style="margin: 15px 0 0 0;" class="field-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter your username" formControlName="username" required>
                            <mat-error *ngIf="loginForm.get('username').invalid">{{getErrorMessage('loginForm',
                                'username')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field>
                            <input matInput type="password" placeholder="Enter your password" formControlName="password"
                                required>
                            <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessage('loginForm',
                                'password')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <section class="login-section">
                        <mat-checkbox [checked]="rememberAuth" (change)='rememberAuth = !rememberAuth'>Remember login</mat-checkbox>
                    </section>
                    <button [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
                </form>
            </mat-tab>
            <mat-tab label="Register">
                <form [formGroup]="registerForm" (ngSubmit)="onRegisterButtonClicked()">
                    <div style="margin: 15px 0 0 0;" class="field-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter your username" formControlName="username" required>
                            <mat-error *ngIf="registerForm.get('username').invalid">{{getErrorMessage('registerForm',
                                'username')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter your email" formControlName="email" required>
                            <mat-error *ngIf="registerForm.get('email').invalid">{{getErrorMessage('registerForm',
                                'email')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field>
                            <input matInput type="password" placeholder="Enter your password" formControlName="password"
                                required>
                            <mat-error *ngIf="registerForm.get('password').invalid">{{getErrorMessage('registerForm',
                                'password')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field>
                            <input matInput type="password" placeholder="Confirm your password" formControlName="confirmPassword"
                                required>
                            <mat-error *ngIf="registerForm.get('confirmPassword').invalid">{{getErrorMessage('registerForm',
                                'confirmPassword')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <button style="margin: 10px 0 0 0;" [disabled]="!registerForm.valid" mat-flat-button color="primary">Register
                        Now</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-grid-tile>
</mat-grid-list>