<mat-toolbar class="nav-bar">
    <span class="mr20">
        <a routerLink="/editor">Editor</a>
    </span>
    <span>
        <a routerLink="/about">About</a>
    </span>
    <span class="fill-remaining-space"></span>
    <span>
        <!-- account icon -->
        <button style="margin: 5px 0 0 0;" mat-icon-button [matMenuTriggerFor]="menu">
            <div class="acc-icon">
                <img style="border-radius: 50%;" height="37" width="37" [src]="avatarUrl">
            </div>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToUserCollection()">
                <mat-icon>photo_library</mat-icon>
                <span>My designs</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Log out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>