.nav-bar {
   height: 50px; 
}

.nav-bar .fill-remaining-space {
    flex: 1 1 auto;
}

.nav-bar .acc-icon {
    height: 37px;
    width: 37px;
    border-radius: 50%;
}

.nav-bar .mr20 {
    margin-right: 40px;
    font-size: 16px;
}

.nav-bar a {
    text-decoration: unset;
    color: #fff;
}
.mat-toolbar {
    background: #000;
  }
  .logo-nav-bar img{
      max-width: 100px;
  }