/* .dialog-title {
} */

.dialog-content .main-content{
  display: block;
}

.dialog-content .main-content > .preview-area {
  width: 45%;
  display: inline-block;
}

.dialog-content .main-content > .preview-area > img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQoU2NcsWLFfwY0MHnyZHQhBsahoNDa2hrDM7m5uZieGQIKAablJk4t9l0tAAAAAElFTkSuQmCC) repeat;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  margin: .5em;
  border: 1px dashed grey;
}

.dialog-content .main-content > .property-area {
  display: inline-block;
  float: right;
}

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}