<div style="height: 100vh; overflow: hidden;">
  <div class="sim-left-container">
    <app-control-panel [app-config]="appConfig"></app-control-panel>
  </div>
  <div class="sim-work-area-container mat-elevation-z3">
    <div class="sim-top-panel">
      <app-top-panel [app-config]="appConfig"></app-top-panel>
    </div>
    <div class="sim-work-area"  id="{{ getContainerId() }}" >
      <!--
      Main config: width: {{ appConfig.mainConfig.width }}, height: {{ appConfig.mainConfig.height }}
      bgColor: {{ appConfig.mainConfig.backgroundColor }}
      <br>
      brightness: {{ appConfig.adjustments.brightness }}
      <br>
      greyScale: {{ appConfig.adjustments.greyScale }}
      <br>
      currLayer: {{ (appConfig.layers.currentLayer || {}).name() }}
      checked: {{ (appConfig.layers.currentLayer || {}).visible() }}
      <br>
      <div *ngIf="appConfig.currentFocusedObject">
        CurrFocused Object:
        <br>
        width: {{ appConfig.currentFocusedObject.width() * appConfig.currentFocusedObject.scaleX() }},
        height: {{ appConfig.currentFocusedObject.height() * appConfig.currentFocusedObject.scaleY() }}
        <br>
        x: {{ appConfig.currentFocusedObject.x() }}, y: {{ appConfig.currentFocusedObject.y() }}
        <br>
        fill: {{ appConfig.currentFocusedObject.fill() }}
      </div>
      -->
    </div>
    <div class="sim-floating-panel" *ngIf="!!appConfig.stage">
      <span style="color: white; margin-left: 1em;">Zoom</span>
      <mat-slider [min]="0" [max]="1" [step]="0.01"
        [thumbLabel]="true"
        [ngModel]="appConfig.stage.scaleX()"
        (ngModelChange)="appConfig.changeStageScale($event)"></mat-slider>
    </div>
  </div>
</div>