.main-layout .nav {
  width: 100%;
  height: 50px;
}

.main-layout .working-area {
  width: 100%;
  height: calc(100% - 50px);
}

.sim-left-container {
  height: calc(100% - 50px);
  width: 340px;
  background-color: transparent;
  float: left;
  padding: 0px 5px;
  overflow-y: auto;
}

.sim-work-area-container {
  height: 100%;
  width: calc(100% - 350px);
  float: right;
}

.sim-top-panel {
  height: 40px;
  background-color: transparent;
}

.sim-work-area {
  height: calc(100% - 40px);
  background-color: #ddd;
}

.sim-floating-panel {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 1.75em;
  bottom: 1em;
  right: 2em;
}