<!--Shape name-->
<mat-accordion class="sim-control-panel">
  <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
    <mat-expansion-panel-header>Name</mat-expansion-panel-header>
    <mat-form-field style="width: 100%">
      <input matInput type="text" placeholder="Shape Name" [ngModel]="shape.name()" (ngModelChange)="shape.name($event)">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<!--Geometric-->
<mat-accordion class="sim-control-panel">
  <mat-expansion-panel class="expansion-panel mat-elevation-z0" [expanded]="true">
    <mat-expansion-panel-header>Geometric</mat-expansion-panel-header>
      <div style="width: 100%; display: flex;">
        <sim-input style="flex: 1; max-width: 50%;"
          [type]="'input-box'" [placeholder]="'X'" [value]="shape.x()" [options]="{ inputType: 'number' }"
          (valueChange)="shape.x($event); redrawShape()"
        ></sim-input>

        <sim-input style="flex: 1; max-width: 50%;"
          [type]="'input-box'" [placeholder]="'Y'" [value]="shape.y()" [options]="{ inputType: 'number' }"
          (valueChange)="shape.y($event); redrawShape()"
        ></sim-input>
      </div>

      <div style="width: 100%; display: flex;">
        <sim-input style="flex: 1; max-width: 50%;"
          [type]="'input-box'"  [placeholder]="'Width'" [value]="shape.width() || 0" [options]="{ inputType: 'number' }"
          (valueChange)="shape.width($event); redrawShape()"
        ></sim-input>

        <sim-input style="flex: 1; max-width: 50%;"
          [type]="'input-box'" [placeholder]="'Height'" [value]="shape.height() || 0" [options]="{ inputType: 'number' }"
          (valueChange)="shape.height($event); redrawShape()"
        ></sim-input>
      </div>

      <!--Geometric options-->
      <div *ngIf="shape.getGeometricKeys && shape.getGeometricKeys().length">
        <div *ngFor="let key of shape.getGeometricKeys();">
          <mat-form-field style="width: 100%;">
            <input matInput type="number" placeholder="{{ key }}"
                  [ngModel]="shape[key]()" (ngModelChange)="shape[key]($event); redrawShape()">
          </mat-form-field>
        </div>
      </div>

  </mat-expansion-panel>
</mat-accordion>


<mat-accordion class="sim-control-panel">
  <mat-expansion-panel class="expansion-panel mat-elevation-z0" [expanded]="true">
    <mat-expansion-panel-header>Fill & Stroke</mat-expansion-panel-header> 
      <div style="width: 100%">
        <sim-input
          [label]="'Enable fill'" [type]="'toggle'" [value]="shape.fillEnabled()" (valueChange)="shape.fillEnabled($event); redrawShape()"
        ></sim-input>
      </div>

      <div *ngIf="shape.fillEnabled()" class="child-options-group">
        <div style="width: 100%">
          <sim-color-picker
            [label]="'Fill color'"
            [color]="shape.fill()"
            (colorChange)="shape.fill($event); redrawShape();">
          </sim-color-picker>
        </div>
      </div>

      <div style="width: 100%">
        <sim-input [label]="'Enable stroke'" [type]="'toggle'" [value]="shape.strokeEnabled()"
          (valueChange)="shape.strokeEnabled($event); redrawShape()"
        ></sim-input>
      </div>

      <div class="child-options-group" *ngIf="shape.strokeEnabled()">
        <div style="width: 100%">
          <sim-color-picker
            [label]="'Stroke'"
            [color]="shape.stroke()"
            (colorChange)="shape.stroke($event); redrawShape()"
          ></sim-color-picker>
        </div>

        <div style="width: 100%">
          <sim-input
            [label]="'Stroke width'" [type]="'slider'" [options]="{min: 1, max: 100, step: 0.01, showInputBox: true, thumbLabel: false}"
            [value]="shape.strokeWidth()" (valueChange)="shape.strokeWidth($event); redrawShape();"
          ></sim-input>
        </div>

        <div style="width: 100%;">
          <sim-input [type]="'classic-input-box'" [label]="'Dash'" [options]="{ inputType: 'text' }" [placeholder]="'Space separated'"
            [value]="dashArrToString(shape.dash())" (valueChange)="shape.dash(stringToDashArr($event)); redrawShape()"
          ></sim-input> 
        </div>

        <!--Line Join And Cap-->
        <div style="width: 100%;">
          <sim-input [type]="'dropdown'" [label]="'Line Join'"
            [value]="shape.lineJoin() || 'miter'" [options]="['miter', 'round', 'bevel']"
            (valueChange)="shape.lineJoin($event); redrawShape()"
          ></sim-input>
        </div>
        <div style="width: 100%;">
          <sim-input [type]="'dropdown'" [label]="'Line Cap'"
            [value]="shape.lineCap() || 'butt'" [options]="['butt', 'round', 'square']"
            (valueChange)="shape.lineCap($event); redrawShape()"
          ></sim-input>
        </div>
      </div>

      <div style="width: 100%">
        <sim-input [label]="'Enable shadow'" [type]="'toggle'" [value]="shape.shadowEnabled()"
          (valueChange)="shape.shadowEnabled($event); redrawShape()"
        ></sim-input>
      </div>
      <div class="child-options-group" *ngIf="shape.shadowEnabled()">
        <div style="width: 100%">
          <sim-input [label]="'Shadow For Stroke'" [type]="'toggle'" [value]="shape.shadowForStrokeEnabled()"
            (valueChange)="shape.shadowForStrokeEnabled($event); redrawShape()"
          ></sim-input>
        </div>

        <div style="width: 100%">
          <sim-color-picker
            [label]="'Shadow color'"
            [color]="shape.shadowColor()"
            (colorChange)="shape.shadowColor($event); redrawShape()"
          ></sim-color-picker>
        </div>

        <div style="width: 100%">
          <sim-input
            [label]="'Shadow opacity'" [type]="'slider'" [options]="{min: 0, max: 1, step: 0.01, showInputBox: true, thumbLabel: false}"
            [value]="shape.shadowOpacity()" (valueChange)="shape.shadowOpacity($event); redrawShape();"
          ></sim-input>
        </div>

        <div style="width: 100%">
          <sim-input
            [label]="'Shadow blur'" [type]="'slider'" [options]="{min: 0, max: 100, step: 1, showInputBox: true, thumbLabel: false}"
            [value]="shape.shadowBlur()" (valueChange)="shape.shadowBlur($event); redrawShape();"
          ></sim-input>
        </div>

        <div style="width: 100%; display: flex;">
          <sim-input style="flex: 1; max-width: 50%;"
            [type]="'input-box'" [placeholder]="'Shadow Offset X'" [value]="shape.shadowOffsetX()" [options]="{ inputType: 'number' }"
            (valueChange)="shape.shadowOffsetX($event); redrawShape()"
          ></sim-input>

          <sim-input style="flex: 1; max-width: 50%;"
            [type]="'input-box'" [placeholder]="'Shadow Offset Y'" [value]="shape.shadowOffsetY()" [options]="{ inputType: 'number' }"
            (valueChange)="shape.shadowOffsetY($event); redrawShape()"
          ></sim-input>
        </div>
      </div>
  </mat-expansion-panel>

</mat-accordion>

<mat-accordion class="sim-control-panel">
  <mat-expansion-panel *ngIf="shape.hasExtraProps" class="expansion-panel mat-elevation-z0" [expanded]="true">
    <mat-expansion-panel-header>Misc</mat-expansion-panel-header>

    <div style="width: 100%;" *ngIf="shape.getClassName() == 'Text'">
      <div style="width: 100%; display: flex;">
        <sim-input style="flex: 7; max-width: 70%;"
          [type]="'input-box'" [placeholder]="'Text'" [value]="shape.text()" [options]="{ inputType: 'text' }"
          (valueChange)="shape.text($event); redrawShape()"
        ></sim-input>

        <sim-input style="flex: 3; max-width: 30%;"
          [type]="'input-box'" [placeholder]="'Font size'" [value]="shape.fontSize()" [options]="{ inputType: 'number' }"
          (valueChange)="shape.fontSize($event); redrawShape();"
        ></sim-input>
      </div>

      <div style="width: 100%;">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Font Family" [matAutocomplete]='autoFontFamily' (keyup.enter)="loadFont(fontFamilyName.value)"
            [ngModel]="shape.fontFamily()" (ngModelChange)="shape.fontFamily($event);" #fontFamilyName>
          <mat-autocomplete #autoFontFamily="matAutocomplete">
            <mat-option *ngFor="let font of getFonts(fontFamilyName.value) | async" [value]="font.family" (click)="loadFont(font.family)">
              <div [style.font-family]="font.family">{{ font.family }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div style="width: 100%;">
        <sim-input
          [type]="'dropdown'" [label]="'Style'" [value]="shape.fontStyle() || 'normal'" [options]="['normal', 'bold', 'italic']"
          (valueChange)="shape.fontStyle($event); redrawShape()"
        ></sim-input>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>