.sim-control-panel mat-expansion-panel {
  border-radius: 0px;
}

.sim-control-panel .expansion-panel {
  background-color: #dddddd6e;
  /* border-bottom: 1px solid grey; */
  /* border-top: 1px solid grey; */
}

.sim-control-panel .expansion-panel:last-child {
  border-bottom: unset;
}

.sim-control-panel .child-options-group {
  margin-left: 1em;
}
