.sim-control-panel mat-expansion-panel {
  border-radius: 0px;
}

.sim-control-panel .expansion-panel {
  border-top: 1px solid grey;
}

.sim-control-panel .child-options-group {
  margin-left: 1em;
}
