.collection-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}
.collection-container .nav {
  width: 100%;
  height: 56px;
}
.collection-container .left {
  height: calc(100% - 66px);
  width: 300px;
  padding: 5px;
}
.collection-container .images-container {
  height: calc(100% - 56px);
  width: calc(100% - 310px);
}

.collection-container .avatar {
  background-color: lightblue;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#columns {
  column-count: 5;
  /* column-width: 300px; */
  column-gap: 20px;
  width: 100%;
}

div#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  /* box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); */
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.5;
}

.ch-grid {
  padding: 0;
  display: block;
  text-align: center;
  height: 180px;
  width: 180px;
  margin-right: auto;
  margin-left: auto;
}

.ch-grid:after,
.ch-item:before {
  content: "";
  display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: default;
  transition: all 0.4s ease-in-out;
}

.ch-info {
  position: absolute;
  background: rgba(63, 147, 147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 75% 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.ch-info p:hover {
  cursor: pointer;
}

.ch-item:hover .ch-info {
  transform: scale(1);
  opacity: 1;
}

.ch-item:hover .ch-info p {
  opacity: 1;
}
