<div class="collection-container">
    <!-- <div class="nav">
        <app-nav-bar></app-nav-bar>
    </div> -->
    <div class="left">
        <div class="ch-grid">
            <div class="ch-item" style="background-repeat: no-repeat;background-position: center;background-size: 100% 100%;"
                [ngStyle]="{'background-image': 'url(' + avatarUrl + ')'}">
                <div class="ch-info">
                    <p (click)="changeAvatar()">Change your avatar</p>
                </div>
            </div>
        </div>
        <div class="info-list">
            <mat-list role="list">
                <mat-list-item role="listitem" style="padding: 0!important;">Name:&nbsp;{{ userInfo.name }}</mat-list-item>
                <mat-list-item role="listitem">Email:&nbsp;{{ userInfo.email }}</mat-list-item>
            </mat-list>
        </div>
        <!-- <ul class="social">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
            <li><a href="#"><i class="fa fa-github-square"></i></a></li>
        </ul> -->
    </div>
    <div class="images-container">
        <div id="columns">
            <figure *ngFor="let design of userDesigns; let i = index">
                <figcaption>
                    <img style="margin: 0;" [src]="localUrl + design.path">
                    <div class="download">
                            <button mat-icon-button (click)="downloadImage(design)">
                            <mat-icon>get_app</mat-icon>
                            </button>
                    </div>
                    <div class="delete">
                            <button mat-icon-button (click)="deleteImage(design)">
                            <mat-icon>delete_forever</mat-icon>
                            </button>
                    </div>
                    <div class="overlay"></div>
                </figcaption>
                <figcaption>
                    <p class="img_name">{{design.name}}</p>   
                </figcaption>
                <!-- <figcaption style="height: 40px;">     -->
                    <!-- <button style="width: 100%;" mat-button (click)="downloadImage(design)">Download</button> -->
                    
                <!-- </figcaption> -->
            </figure>
        </div>
    </div>
</div>