<div class="collection-container">
    <!-- <div class="nav">
        <app-nav-bar></app-nav-bar>
    </div> -->
    <div class="left">
        <div class="ch-grid">
            <div class="ch-item" style="background-repeat: no-repeat;background-position: center;background-size: 100% 100%; "
                [ngStyle]="{'background-image': 'url(avatars/' + avatarUrl + ')'}">
                <div class="ch-info">
                    <p (click)="changeAvatar()">Change your avatar</p>
                </div>
            </div>
        </div>
        <div>
            <mat-list role="list">
                <mat-list-item role="listitem" style="padding: 0!important;">Name:&nbsp;</mat-list-item>
                <mat-list-item role="listitem">Email:&nbsp;</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="images-container">
        <div id="columns">
            <figure *ngFor="let design of userDesigns; let i = index">
                <img style="margin: 0;" [src]="localUrl + design.path">
                <figcaption style="height: 40px;">
                    <button style="min-width: 62px;" mat-button>Edit</button>
                    <button mat-button>Download</button>
                </figcaption>
            </figure>
        </div>
    </div>
</div>