* {
  font-family: sans-serif;
}

.sim-region {
  border: 1px solid black;
  display: inline-table;
  min-height: 5rem;
  min-width: 7rem;
}

.sim-layer-item {
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.sim-selected-layer-item {
  background-color: steelblue;
}

.sim-interactive-area {
  background-color: lightgrey;
  border: 1px solid black;
}

.konvajs-content {
  background-color: white;
  border: 1px solid black;
}