<div class="homepage">
    <!-- ***** Header Area Start ***** -->
	<header class="header-area" *ngIf="!isLogin"> 
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="../../../assets/images/black_logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->


                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="/editor">Editor</a></li>
                            <li><a href="/login" class="btn-nav-line"><span>Login</span></a></li>
                        </ul>
                        <!-- <a class='menu-trigger'>
                            <span>Menu</span>
                        </a> -->
                        <!-- ***** Menu End ***** -->						
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <!-- ***** Header Background Image Start ***** -->
        <div class="right-bg">
            <img src="../../../assets/images/header.jpg" class="img-fluid float-right" alt="">
        </div>
        <!-- ***** Header Background Image End ***** -->

        <div class="header-bg">
            <img src="../../../assets/images/header-bg.svg" class="img-fluid" alt="">
        </div>

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <h1>SIM - Simple Image Manipulation</h1>
                        <p>Phần mềm chỉnh sửa và vẽ ảnh online. Không cần phải cài đặt. SIM chỉ tốn của bạn 10 phút để tìm hiểu và làm quen</p>
                        <div class="email-box">
                            <div class="input">
                                <input type="email" placeholder="Enter your email">
                                <button>Email Us</button>
                            </div>
                            <span>Phiên bản thử nghiệm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->

        <!-- ***** Play Button Start ***** -->
        <div class="play-button-wrapper">
            <a href="#" class="btn-play">
                <i class="fa fa-play"></i>
            </a>
        </div>
        <!-- ***** Play Button End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
	<section class="section white padding-bottom-90" id="features">
            <div class="bg-top"></div>
            <div class="bg-bottom"></div>
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">4 cách mà SIM giúp bạn đạt mục đích của mình</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p>Hãy cùng SIM sáng tạo ra những bức ảnh tuyệt vời và hơn thế nữa.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
    
                <div class="row">
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12" >
                        <a href="#" class="features-small-item">
                            <div class="icon">
                                <i class="fa fa-check-square-o"></i>
                            </div>
                            <h5 class="features-title">Dễ dàng sử dụng</h5>
                            <p>Không cần cài đặt bạn đã có thể chỉnh sửa ngay trên SIM online.</p>
                            <div class="button">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <div class="item-bg"></div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
    
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12"  >
                        <a href="#" class="features-small-item active">
                            <div class="icon">
                                    <i class="fa fa-bar-chart"></i>
                            </div>
                            <h5 class="features-title">Kho lưu trữ online</h5>
                            <p>Bạn có thể lưu những bức ảnh của mình ngay trên SIM nếu đăng nhập</p>
                            <div class="button">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <div class="item-bg"></div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
    
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12" >
                        <a href="#" class="features-small-item">
                            <div class="icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <h5 class="features-title">Giao diện trực quan</h5>
                            <p>Giao diện đã được tối ưu cho người dùng dễ hiểu và sử dụng</p>
                            <div class="button">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <div class="item-bg"></div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
    
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12" >
                        <a href="#" class="features-small-item">
                            <div class="icon">
                                    <i class="fa fa-tachometer"></i>
                            </div>
                            <h5 class="features-title">Thỏa sức sáng tạo</h5>
                            <p>Các công cụ mà SIM cung cấp đủ để bạn vẽ được bất cứ gì mình muốn</p>
                            <div class="button">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <div class="item-bg"></div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </section>
        <!-- ***** Features Small End ***** -->
    
    
        <!-- ***** Features Big Item Start ***** -->
        <section class="section padding-bottom-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center mobile-bottom-fix"  >
                        <img src="../../../assets/images/grey-1.png" class="img-fluid float-left" alt="App">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                        <div class="left-heading">
                            <h2 class="section-title">Hướng dẫn sử dụng</h2>
                        </div>
                        <div class="left-text">
                            <p>Bắt đầu sử dụng SIM - Simple Image Manipulation để chỉnh sửa ảnh online chỉ với 4 bước :</p>
                            <ul>
                                <li>Tạo tài khoản đăng nhập SIM và đăng nhập</li>
                                <li>Click vào trình editor trên thanh Nav Bar</li>
                                <li>Tự sáng tạo ra hình ảnh của riêng bạn</li>
                                <li>Vào My Design để xem ảnh bạn đã chỉnh sửa</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Features Big Item End ***** -->
    
    
        <!-- ***** Features Big Item Start ***** -->
        <section class="section white padding-bottom-100">
            <div class="bg-top"></div>
            <div class="bg-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center mobile-bottom-fix">
                        <div class="left-heading">
                            <h2 class="section-title">Một số tính năng của SIM</h2>
                        </div>
                        <div class="left-text">
                            <p>Ngoài các tính năng như vẽ các hình khối, viết text, chỉnh sửa các thông số của ảnh, SIM còn cung cấp thêm cho người dùng :</p>
                            <ul>
                                <li>Tính năng quản lý ảnh theo layer (tương tự photoshop)</li>
                                <li>Tính năng Draw giúp người dùng vẽ gì tùy thích</li>
                                <li>Lưu trữ và load lại project trong trường hợp chưa kịp làm xong</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center" >
                        <img src="../../../assets/images/grey-2.png" class="img-fluid float-right" alt="App">
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Features Big Item End ***** -->
    
    
        <!-- ***** API Parallax Start ***** -->
        <section class="parallax">
            <div class="parallax-content">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-2 col-lg-8">
                            <div class="info">
                                <p>Một số công nghệ mà SIM sử dụng</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- ***** API & SDK Buttons Start ***** -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 api-btn-content">
                            <a href="#" class="btn-api">
                                <i class="fa fa-code"></i>
                                <span>Angular JS 6</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 api-btn-content">
                            <a href="#" class="btn-api">
                                <i class="fa fa-terminal"></i>
                                <span>Node JS</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 api-btn-content">
                            <a href="#" class="btn-api">
                                <i class="fa fa-code-fork"></i>
                                <span>Konva JS</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 api-btn-content">
                            <a href="#" class="btn-api">
                                <i class="fa fa-file-text-o"></i>
                                <span>Bootstrap</span>
                            </a>
                        </div>
                    </div>
                    <!-- ***** API & SDK Buttons End ***** -->
                </div>
            </div>
        </section>
        <!-- ***** API Parallax End ***** -->
    
    
        <!-- ***** Testimonials Start ***** -->
        <section class="section padding-bottom-80" id="testimonials">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">SIM Team</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p>Đôi nét về đội ngũ phát triển ứng dụng SIM - Simple Image Manipulation</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
    
                <div class="row testimonials-wrapper">
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="testimonials-item">
                            <div class="user">
                                <img src="../../../assets/images/ava.jpg" alt="">
                            </div>
                            <div class="testimonials-content">
                                <h3 class="user-name">Trần Quang Toàn</h3>
                                <span>Coder</span>
                                <div class="txt">
                                    <p>Sinh viên ngành Công nghệ thông tin Đại học Công nghệ, ĐHQGHN, khóa K61 QH-2016-I/CQ-C-C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->
    
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="testimonials-item">
                            <div class="user">
                                <img src="../../../assets/images/avadt.jpg" alt="">
                            </div>
                            <div class="testimonials-content">
                                <h3 class="user-name">Nguyễn Đức Thắng</h3>
                                <span>Coder</span>
                                <div class="txt">
                                    <p>Sinh viên ngành Công nghệ thông tin Đại học Công nghệ, ĐHQGHN, khóa K61 QH-2016-I/CQ-C-C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->
                    
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="testimonials-item">
                            <div class="user">
                                <img src="../../../assets/images/avap.jpg" alt="">
                            </div>
                            <div class="testimonials-content">
                                <h3 class="user-name">Nguyễn Văn Phúc</h3>
                                <span>Coder</span>
                                <div class="txt">
                                    <p>Sinh viên ngành Công nghệ thông tin Đại học Công nghệ, ĐHQGHN, khóa K61 QH-2016-I/CQ-C-C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->
                    <div class="col-lg-2"></div>
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="testimonials-item">
                            <div class="user">
                                <img src="../../../assets/images/avat.jpg" alt="">
                            </div>
                            <div class="testimonials-content">
                                <h3 class="user-name">Nguyễn Mạnh Tiến</h3>
                                <span>Coder</span>
                                <div class="txt">
                                    <p>Sinh viên ngành Công nghệ thông tin Đại học Công nghệ, ĐHQGHN, khóa K61 QH-2016-I/CQ-C-C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->
                    <!-- <div class="col-md-3"></div> -->
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="testimonials-item">
                            <div class="user">
                                <img src="../../../assets/images/avaht.jpg" alt="">
                            </div>
                            <div class="testimonials-content">
                                <h3 class="user-name">Nguyễn Hữu Thắng</h3>
                                <span>Coder</span>
                                <div class="txt">
                                    <p>Sinh viên ngành Công nghệ thông tin Đại học Công nghệ, ĐHQGHN, khóa K61 QH-2016-I/CQ-C-C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->

                </div>
            </div>
        </section>
        <!-- ***** Testimonials End ***** -->
    
    
        <!-- ***** Templates Start ***** -->
        <section class="section white bg-center-left" id="pricing-plans">
            <div class="bg-top"></div>
            <div class="bg-bottom"></div>
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Templates</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p>Một số hình ảnh mẫu về các sản phẩm được làm trên SIM</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
    
                <div class="row homepage-gallery">
                    <div id="columns">
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/1.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/2.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/3.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/4.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/5.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/6.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/7.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/8.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/9.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/10.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/11.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/12.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/13.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/14.jpg">
                            </figcaption>
                        </figure>
                        <figure>
                            <figcaption>
                                <img src="../../../assets/images/15.jpg">
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Templates End ***** -->
        
        <!-- ***** Footer Start ***** -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <img src="../../../assets/images/black_logo.png" class="logo" alt="">
                        <div class="text">Phần mềm chỉnh sửa ảnh SIM - Simple Image Manipulation</div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                        <h5>Helpful Links</h5>
                        <ul class="footer-nav">
                            <li><a href="/"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
                            <li><a href="./editor"><i class="fa fa-angle-right"></i><span>Editor</span></a></li>
                            <li><a href="./user-collection"><i class="fa fa-angle-right"></i><span>My Design</span></a></li>
                            <li><a href="/"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                        <h5>Technology</h5>
                        <ul class="footer-nav">
                            <li><a href="https://angular.io/"><i class="fa fa-angle-right"></i><span>Angular 6</span></a></li>
                            <li><a href="https://nodejs.org/en/"><i class="fa fa-angle-right"></i><span>Node JS</span></a></li>
                            <li><a href="https://konvajs.github.io/"><i class="fa fa-angle-right"></i><span>Konva JS</span></a></li>
                            <li><a href="https://getbootstrap.com/"><i class="fa fa-angle-right"></i><span>Bootstrap</span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h5>Contact Us</h5>
                        <div class="address">
                            <p>144 Xuân Thủy<br>Đại Học Công Nghệ, ĐHQGHN</p>
                            <p>Phone: 0123456789</p>
                            <p><span>E-Mail:</span><a href="#">contact@sim.com</a></p>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-github-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright">© 2018 SIM Team. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ***** Footer End ***** -->
</div>

