<!--Shape list-->
<div *ngIf="appConfig.layers.currentLayer && appConfig.layers.currentLayer.getChildren().length && showObjectList"
  style="position: absolute;
         background-color: white; 
         top: 56px; 
         min-width: 20em; 
         max-height: 20em; 
         border-radius: 0px 0px 5px 0px; 
         overflow-y: auto; 
         z-index: 1;" class="mat-elevation-z6">
  <mat-list>
    <mat-list-item *ngFor="let object of appConfig.layers.currentLayer.getChildren().reverse()"
      (click)="appConfig.currentFocusedObject = object">
      <button mat-button style="width: 100%;">{{ object.getClassName() }} {{ object.name() }}</button>
      <button mat-icon-button (click)="removeObject(object)">
        <mat-icon>&times;</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<button mat-icon-button (click)="showObjectList = !showObjectList">
  <mat-icon>list</mat-icon>
</button>

<!--Shape z-index -->
<button mat-icon-button [disabled]="!appConfig.currentFocusedObject" (click)="appConfig.currentFocusedObject.moveUp(); appConfig.currentFocusedObject.getLayer().draw();">
  <mat-icon>&uarr;</mat-icon>
</button>
<button mat-icon-button [disabled]="!appConfig.currentFocusedObject" (click)="appConfig.currentFocusedObject.moveDown(); appConfig.currentFocusedObject.getLayer().draw();">
  <mat-icon>&darr;</mat-icon>
</button>

<!--Shape rotation-->

<!--Shape opacity-->

<!--Shape align-->

<!--Shape flip-->

<!--Clone shape-->

<!--Remove shape-->

<!--save as image-->
<mat-form-field>
  <input matInput type="text" placeholder="Save As Image" #imageName>
  <button mat-button *ngIf="imageName.value" matSuffix mat-icon-button aria-label="Clear" (click)="imageName.value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button mat-button (click)="appConfig.saveStageAsImage(imageName.value)">Save</button>